<h1>Balcão de Empregos</h1>

<div>
  <p>Cadastre sua empresa e divulgue vagas</p>
  <p>Faça seu cadastro para se candidatar às vagas de emprego</p>
  
  <p> <%= link_to 'Empresas', companies_path %> </p>
</div>